{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
<script>
  window.daocomSettings = {
    app_id: "3a0d7d99",
  };
</script><script type="text/javascript" id="impact-indicators-embedder" class="impact-indicators-async-script-loader">(function(){var w=window;var dao=w.daocom;if(typeof dao==="function"){dao("reattach_activator");dao("update",daocomSettings)}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.daocom=i}function async_load(){var s=document.createElement("script");s.type="text/javascript";s.async=true;var theUrl="//widget.daocom.io/widget/3a0d7d99.js";s.src=theUrl+(theUrl.indexOf("?")>=0?"&":"?")+"ref="+encodeURIComponent(w.location.href);var embedder=document.getElementById("impact-indicators-embedder");embedder.parentNode.insertBefore(s,embedder)}if(w.attachEvent){w.attachEvent("onload",async_load)}else{w.addEventListener("load",async_load,false)}})();</script>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}